@import './root.scss';
@import "bootstrap/dist/css/bootstrap.min.css";
@import "./font.scss";
@import "./andt.scss";

#root {
  width: 100%;
  overflow-x: hidden;
}

// Font size
body,
html {
  font-family: var(--bs-body-font-family);
  font-size: 14px;
  line-height: var(--bs-body-line-height);
  font-weight: var(--bs-body-font-weight);
  color: var(--bs-body-color);

  // user-select: none;
  // -webkit-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
}

em {
  font-style: normal;
}

dl,
dt,
dd,
ul,
ol,
li {
  padding: 0;
  list-style: none;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: normal;
  margin: 0;
}

h1,
.h1 {
  font-size: 64px;
  line-height: 1.5;
  letter-spacing: -.02em;
}

h2,
.h2 {
  font-size: 48px;
  line-height: calc(64/48);
  letter-spacing: -.02em;
}

h3,
.h3 {
  font-size: 36px; // 40
  line-height: calc(48/36);
  letter-spacing: -.01em;
}

h4,
.h4 {
  font-size: 28px;
  line-height: calc(36/28);
  letter-spacing: -.01em;
}

h5,
.h5 {
  font-size: 20px;
  line-height: calc(28/20);
  letter-spacing: -.01em;
}

h6,
.h6 {
  font-size: 16px;
  line-height: calc(20/16);
  letter-spacing: -.01em;
}

small,
.small {
  font-size: 12px;
  line-height: calc(16/12);
  letter-spacing: -.01em;
}

.lh-1 {
  line-height: 72px !important;
}

.lh-2 {
  line-height: 48px !important;
}

a {
  transition: all 0.3s;
  text-decoration: none;

  // &:hover {
  //   // opacity: 0.7;
  // }
}

strong {
  color: #fff;
  font-weight: bold;
}

.w-6 {
  width: 6px;
  height: 6px;
}

.w-12 {
  width: 12px;
  height: 12px;
}

.w-14 {
  width: 14px;
  height: 14px;
}

.w-16 {
  width: 16px;
  height: 16px;
}

.w-18 {
  width: 18px;
  height: 18px;
}

.w-20 {
  width: 20px;
  height: 20px;
}

.w-24 {
  width: 24px;
  height: 24px;
}

.w-28 {
  width: 28px;
  height: 28px;
}

.w-32 {
  width: 32px;
  height: 32px;
}

.w-36 {
  width: 36px;
  height: 36px;
}

.w-40 {
  width: 40px;
  height: 40px;
}

.w-48 {
  width: 48px;
  height: 48px;
}

.w-50 {
  width: 50px;
  height: 50px;
}

.w-56 {
  width: 56px;
  height: 56px;
}

.w-64 {
  width: 64px;
  height: 64px;
}

.w-72 {
  width: 72px;
  height: 72px;
}

.w-92 {
  width: 92px;
  height: 92px;
}

.w-104 {
  width: 104px;
  height: 104px;
}

.w-120 {
  width: 120px;
  height: 120px;
}

.img-full {
  width: 100%;
  height: 100%;
}

.position-full {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.position-top {
  top: 0;
  right: 0;
  left: 0;
}

.position-top-right {
  top: 0;
  right: 0;
}

.position-bottom {
  right: 0;
  left: 0;
  bottom: 0;
}

.position-rl {
  right: 0;
  left: 0;
}

.position-rb {
  right: 0;
  bottom: 0;
}

.position-tb {
  top: 0;
  bottom: 0;
}

.position-bottom-vh {
  right: 0;
  left: 0;
  bottom: 0vh;
}



.opacity-0 {
  opacity: 0;
}

.opacity-50 {
  opacity: 0.5
}

.opacity-70 {
  opacity: 0.7
}

.opacity-75 {
  opacity: 0.75
}

.opacity-80 {
  opacity: 0.8
}

.opacity-100 {
  opacity: 1;
}

// Zoom
.zoom-40 {
  zoom: 0.4;
}

.zoom-50 {
  zoom: 0.5;
}

.zoom-60 {
  zoom: 0.6;
}

.zoom-65 {
  zoom: 0.65;
}

.zoom-70 {
  zoom: 0.7;
}

.zoom-75 {
  zoom: 0.75;
}

.zoom-80 {
  zoom: 0.8;
}

.zoom-85 {
  zoom: 0.85;
}

.zoom-90 {
  zoom: 0.90;
}

.zoom-95 {
  zoom: 0.95;
}

.zoom-100 {
  zoom: 1;
}

.zoom-110 {
  zoom: 1.1;
}

.zoom-120 {
  zoom: 1.2;
}

.zoom-130 {
  zoom: 1.3;
}

.zoom-150 {
  zoom: 1.5;
}

.zoom-200 {
  zoom: 2;
}

.zoom-300 {
  zoom: 3;
}

[class~="zoom-"] {
  transition: all 0.3s;
}

.transition {
  transition: all 0.3s;
}

.br-0 {
  border-radius: 0px !important;
}

.br-1 {
  border-radius: 4px !important;
}

.br-2 {
  border-radius: 8px !important;
}

.br-t-2 {
  border-top-left-radius: 0.5em !important;
  border-top-right-radius: 0.5em !important;
}

.br-tl-2 {
  border-top-left-radius: 0.5em !important;
}

.br-3 {
  border-radius: 1em !important;
}

.br-4 {
  border-radius: 24px !important;
}

.br-l-4 {
  border-top-left-radius: 24px !important;
  border-bottom-left-radius: 24px !important;
}

.br-r-4 {
  border-top-right-radius: 24px !important;
  border-bottom-right-radius: 24px !important;
}

.br-5 {
  border-radius: 48px !important;
}

.min-100vh {
  min-height: 100vh;
}

.h-100vh {
  height: 100vh
}

.z-index-1 {
  z-index: 2;
}

.z-index-9 {
  z-index: 9;
}

.z-index-10 {
  z-index: 10;
}

.z-index-20 {
  z-index: 20;
}


.z-index-99 {
  z-index: 99;
}

.grid {
  display: grid;
  grid-template-rows: repeat(var(--bs-rows, 1), 1fr);
  grid-template-columns: repeat(var(--bs-columns, 12), 1fr);
  gap: var(--bs-gap, 1.5rem);

  .g-col-1 {
    grid-column: auto / span 1;
  }

  .g-col-2 {
    grid-column: auto / span 2;
  }

  .g-col-3 {
    grid-column: auto / span 3;
  }

  .g-col-4 {
    grid-column: auto / span 4;
  }

  .g-col-6 {
    grid-column: auto / span 6;
  }

  .g-col-12 {
    grid-column: auto / span 12;
  }
}

.h-100 {
  height: 100%;
}

.avatar {
  border-radius: 50%;
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  overflow: hidden;
  line-height: 0;

  &.xsm {
    width: 16px;
    height: 16px;
  }

  &.sm {
    width: 22px;
    height: 22px;
  }

  &.smd {
    width: 28px;
    height: 28px;
  }

  &.md {
    width: 32px;
    height: 32px;
  }

  &.lg {
    width: 44px;
    height: 44px;
  }

  &.xlg {
    width: 72px;
    height: 72px;
  }

  &.xxlg {
    width: 128px;
    height: 128px;
  }

  &img,
  img {
    width: 100%;
    height: 100%;
  }

  &:hover {
    opacity: 0.85;
  }
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.h-32 {
  height: 32px !important;
}

.full {
  width: 100%;
  height: 100%;
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-45 {
  transform: rotate(45deg);
}

.rotate-0 {
  transform: rotate(0deg);
}

// Hover
.hover-primary {
  cursor: pointer;
  transition: all 0.3s !important;
  color: rgb(var(--bs-primary-rgb));
  fill: rgb(var(--bs-primary-rgb));
  border: 1px solid #29BDCC;

  &:not(:disabled):hover,
  &.hover {
    opacity: 1;
    background-color: rgb(var(--bs-primary-rgb)) !important;
    color: #000 !important;

    svg {
      fill: #000 !important;
    }
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.hover-gray {
  cursor: pointer;
  transition: all 0.3s;
  color: #fff;
  fill: #fff;

  &:not(:disabled):hover,
  &.hover {
    opacity: 1;
    background-color: #1F201F;
    color: rgb(var(--bs-primary-rgb)) !important;
    fill: rgb(var(--bs-primary-rgb)) !important;

    svg {
      fill: rgb(var(--bs-primary-rgb)) !important;
    }
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.hover-white {
  cursor: pointer;
  transition: all 0.3s;
  color: rgba(255, 255, 255, 0.75);
  fill: rgba(255, 255, 255, 0.75);
  background-color: rgba(0, 0, 0, 0.75);
  border: 2px solid rgba(255, 255, 255, 0.35);

  &:not(:disabled):hover {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    fill: rgba(255, 255, 255, 1);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.hover-bg-thin {
  cursor: pointer;
  transition: all 0.3s !important;

  &:not(:disabled):hover,
  &.hover {
    background: linear-gradient(90deg, #DEFAF6 -0.03%, #FFABFF 34.99%, #00B8D9 100.03%);
    background-color: rgb(var(--bs-primary-rgb));
    color: #0D1213;
    fill: #0D1213;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.hover-buy {
  cursor: pointer;
  transition: all 0.3s;
  color: #14c362;

  &:not(:disabled):hover,
  &.hover {
    opacity: 1;
    background-color: #14c362;
    color: #1F201F !important;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.hover-sell {
  cursor: pointer;
  transition: all 0.3s;
  color: #d01515;

  &:not(:disabled):hover,
  &.hover {
    opacity: 1;
    background-color: #d01515;
    color: #1F201F !important;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

// Color
.color-primary {
  color: rgb(var(--bs-primary-rgb));
  fill: rgb(var(--bs-primary-rgb));

  &:active {
    color: rgb(var(--bs-primary-rgb));
  }
}

.color-primary-linear {
  background: linear-gradient(90deg, #DEFAF6 -10.03%, #FFABFF 20.99%, #008ca4 40.03%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.color-secondary {
  color: rgba(255, 255, 255, 0.6);
  fill: rgba(255, 255, 255, 0.6);

  &:active {
    color: rgba(255, 255, 255, 0.6);
  }
}

.color-secondary-thin {
  color: rgba(255, 255, 255, 0.8);
  fill: rgba(255, 255, 255, 0.8);

  &:active {
    color: rgba(255, 255, 255, 0.8);
  }
}

.color-secondary-dark {
  color: #161616;
  fill: #161616;

  &:active {
    color: #161616;
  }
}

.color-unimportant {
  color: #A6B3BF;
  fill: #A6B3BF;

  &:active {
    color: #A6B3BF;
  }
}

.color-white {
  color: #fff;
  fill: #fff;
}

.color-black {
  color: #000;
  fill: #000;

  &:active {
    color: #000;
  }
}

.color-error {
  color: #d01515;
  fill: #d01515;

  &:active {
    color: #d01515;
  }
}

.color-success {
  color: #14c362;
  fill: #14c362;

  &:active {
    color: #14c362;
  }
}

.color-bright {
  color: #FFF61B;
  fill: #FFF61B;

  &:active {
    color: #FFF61B;
  }
}

// Background Color

.bg-primary-dilute {
  background-color: #121212;
}

.bg-primary-vapors {
  background-color: #F3F8FF;
}

.bg-white-thin {
  background-color: rgb(255, 255, 255, 0.1);
}

.bg-primary-gradual {
  background: linear-gradient(270.39deg, #29BDCC 4.61%, #FFFF63 98.2%);
}

// .bg-primary-white {
//   // background: linear-gradient(150deg, #F6FDFF, #D8E3FF);
// }

.bg-gray-1 {
  background-color: #424342;
}

.bg-gray-2 {
  background-color: #293129;
}

.bg-gray-3 {
  background-color: #1F201F;
}

.bg-gray-4 {
  background-color: #1d261e;
}

.bg-gray-5 {
  background-color: #131413;
}

.bg-gray-6 {
  background-color: #0a0a0a;
}

.bg-gray-alpha-1 {
  background-color: rgba(85, 85, 85, 0.25);
}

.bg-gray-alpha-2 {
  background-color: rgba(85, 85, 85, 0.2);
}

.bg-gray-alpha-3 {
  background-color: rgba(85, 85, 85, 0.15);
}

.bg-gray-alpha-4 {
  background-color: rgba(85, 85, 85, 0.1);
}

.bg-gray-alpha-5 {
  background-color: rgba(85, 85, 85, 0.05);
}

.bg-white {
  background-color: #fff;
}

.bg-black-thin {
  background-color: rgb(0, 0, 0, 0.75);
}

.bg-error {
  background-color: #d01515;
}

.bg-error-1 {
  background-color: #780909;
}

.bg-success {
  background-color: #029522;
}

.bg-success-1 {
  background-color: #03741b;
}

.bg-unimportant {
  background-color: #c1c1c1;
}

.bg-dilute {
  background-color: #f0f0f0;
}

.bg-vapors {
  background-color: #fbfbfb;
}

.bg-thin {
  background-color: rgba(0, 0, 0, 0.06);
}

.bg-warn {
  background-color: #FF8C00;
}

.bg-striking {
  background: linear-gradient(270.68deg, #FEAE14 -7.77%, #FFE68C 105.48%);
}

// Border
.border-primary {
  border: 1px solid rgb(var(--bs-primary-rgb));
}

.border-primary-bottom {
  border-bottom: 1px solid rgb(var(--bs-primary-rgb));
}

.border-gray {
  border: 1px solid #232323;
}

.border-secondary {
  border: 1px solid #666;
}

.border-unimportant {
  border: 1px solid #A6B3BF;
}

.border-unimportant-thin {
  border: 1px solid #29BDCC80;
}

.border-black {
  border: 1px solid #000;
}

.border-white {
  border: 1px solid #fff;
}

.border-line {
  border: 1px solid rgba(193, 193, 193, 0.4);
}

.border-buy {
  border: 1px solid #14c362;
}

.border-sell {
  border: 1px solid #d01515;
}

.border-w-0 {
  border-width: 0px !important;
}

.border-w-2 {
  border-width: 2px !important;
}

.border-w-3 {
  border-width: 3px;
}

.border-w-4 {
  border-width: 4px;
}


.border-dashed {
  border-style: dashed;
}

.linker {
  cursor: pointer;
  transition: all 0.3s;
  opacity: 1;

  &:hover {
    opacity: 0.7;
    // filter: brightness(0.7);
  }
}

.linker-highlight {
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    // NOTE: 强调
    color: #fff !important;
  }
}

.mgap-3 {
  >* {
    margin-left: 12px;

    &:first-child {
      margin-left: 0px;
    }
  }
}


@media (min-width: 576px) {
  .grid {
    .g-col-sm-6 {
      grid-column: auto / span 6;
    }
  }
}

@media (min-width: 768px) {
  .grid {
    .g-col-md-3 {
      grid-column: auto / span 3 !important;
    }

    .g-col-md-4 {
      grid-column: auto / span 4 !important;
    }
  }
}

@media (max-width: 992px) {
  //   body {
  //     font-size: 12px;
  //   }

  h1,
  .h1 {
    font-size: 48px;
  }

  h2,
  .h2 {
    font-size: 32px;
    line-height: calc(48/32);
  }

  h3,
  .h3 {
    font-size: 24px;
    line-height: calc(32/24);
  }

  h4,
  .h4 {
    font-size: 20px;
    line-height: calc(24/20);
  }

  h5,
  .h5 {
    font-size: 17px;
    line-height: 1.4;
  }

  h6,
  .h6 {
    font-size: 14px;
    line-height: calc(17/14);
  }
}

@media (max-width: 768px) {

  h1,
  .h1 {
    font-size: 32px;
    line-height: 1.2;
  }

  h2,
  .h2 {
    font-size: 28px;
    line-height: calc(32/28);
  }

  h3,
  .h3 {
    font-size: 20px;
    line-height: calc(28/20);
  }

  h4,
  .h4 {
    font-size: 16px;
    line-height: calc(20/16);
  }

  h5,
  .h5 {
    font-size: 14px;
    line-height: 1.5;
  }

  h6,
  .h6 {
    font-size: 12px;
    line-height: calc(14/12);
  }

  .gap-1 {
    gap: 3px;
  }

  .gap-2 {
    gap: 6px;
  }

  .gap-3 {
    gap: 12px !important;
  }

  .gap-4 {
    gap: 20px;
  }

  .gap-5 {
    gap: 36px;
  }

  .lh-1 {
    line-height: 54px !important;
  }

  .lh-2 {
    line-height: 36px !important;
  }

  .lh-3 {
    line-height: 24px !important;
  }

  .lh-4 {
    line-height: 16px !important;
  }
}

@media (min-width: 992px) {
  .grid {
    .g-col-lg-3 {
      grid-column: auto / span 3 !important;
    }

    .g-col-lg-4 {
      grid-column: auto / span 4 !important;
    }
  }
}


.shadow {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.16);
}

.ellipsis-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-break {
  overflow-wrap: break-word
}

.line-1 {
  border-bottom: 1px solid #A6B3BF;
  // border-bottom: 1px solid #000;
}


.animate-coin {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  transform-style: preserve-3d;
  animation: spin 2.5s ease infinite;

  .back {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .middle {
    width: 100%;
    height: 100%;
    transform: translateZ(5px);
    position: absolute;
    border-radius: 50%;
  }

  .front {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateZ(10px);
  }
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}


.chat-histogram {
  .hover-bg-thin {
    >span {
      transition: all 0.3s;
    }

    &:hover {
      >span {
        opacity: 1 !important;
      }
    }
  }
}

.mr--12 {
  margin-right: -8px;
}

.text-underline {
  text-decoration: underline !important;
}

.linker-hover {
  color: #fff !important;

  &:hover {
    text-decoration: underline !important;
  }
}

.linker-hover-secondary {
  color: rgba(255, 255, 255, 0.6) !important;

  &:hover {
    text-decoration: underline !important;
  }
}

.white-wrap {
  white-space: pre-wrap
}

.line-feed {
  white-space: normal;
  word-break: break-all;
}

.no-drop {
  cursor: no-drop !important;
}

.cursor-default {
  cursor: default;
}

.overflow-y-auto {
  overflow-y: scroll;
}

.overflow-x-auto {
  overflow-x: scroll;
}

.color-gold {
  color: #FFD700;
}

.bg-gold {
  // background-color: #FFD700;
  // background: linear-gradient(270.68deg, #feac1472 -7.77%, #ffe68c73 105.48%);
}

.color-silver {
  color: #C0C0C0;
}

.bg-silver {
  background-color: #C0C0C0;
}

.color-bronze {
  color: #CD7F32;
}

.pointer {
  cursor: pointer;
}

.not-allowed {
  cursor: not-allowed;
}

.color-buy-weak {
  color: #64bf8c;
}

.bg-buy-weak {
  background-color: rgba(68, 136, 83, 0.17);
}

.color-sell-weak {
  color: #c96565;
}

.bg-sell-weak {
  background-color: rgba(184, 35, 35, 0.17);
}

.pointer-events-auto {
  pointer-events: auto;
}