.toolbar-auto-refresh-button {
  .refresh {
    animation: rotate 2s linear infinite;
  }

  strong {
    display: inline-block;
    min-width: 14px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}