.collapsible-content {
  overflow: hidden;
  // transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  // max-height: 10000px;
  // opacity: 1;

  &.collapsed {
    // max-height: 0;
    // opacity: 0;
    display: none;
    ;
  }

  &.expanded {
    // max-height: 10000px;
    // opacity: 1;
  }
}