.tabBase {
  >div {
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgba(85, 85, 85, 0.25);

    >span {
      border-bottom: 1px solid transparent;
      margin-bottom: -1px;
      cursor: pointer;
      transition: all 0.3s;

      &.curr,
      &:hover {
        color: #fff;
        border-color: #fff;
      }
    }
  }
}