.tabSwitch {
  .tabSwitchContainer {
    // top: 0;
    left: 0;
    right: 0;


    .tabSwitchSpace {
      overflow-x: scroll;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
        width: 0;
        background: transparent;
      }

      >div {
        top: 0;
        left: 0;
        right: 0;
        border-bottom: 1px solid rgba(85, 85, 85, 0.25);

        >span {
          border-bottom: 1px solid transparent;
          margin-bottom: -1px;
          cursor: pointer;
          transition: all 0.3s;

          &.curr,
          &:hover {
            color: #fff;
            border-color: #fff;
          }
        }
      }
    }

    .ant-dropdown {
      left: 0 !important;
      right: 0 !important;
      // top: 50px !important;
      z-index: 99;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.16);

      ul {
        margin-top: -8px !important;
        overflow-y: auto;
        // height: 50vh;
        // min-height: 200px;
        max-height: 200px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;

        li {
          transition: all 0.3s;

          >span {
            border-bottom: 1px solid transparent;
            margin-bottom: -1px;
            cursor: pointer;
            transition: all 0.3s;
          }

          &.curr,
          &:hover {
            >span {
              color: #fff;
            }
          }
        }
      }
    }
  }

}